h1 {
  color: #006;
}
h2 {
  color: #039;
  border-bottom: 1px solid #039;
  margin-top: 35px;
  padding-top: 20px;
}
h3 {
  color: #03f;
  margin-top: 20px;
  padding-top: 15px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #006;
}

dt {
  clear: left;
  float: left;
  width: 15%;
  font-weight: bold;
  text-align: right;
  padding: 3px 15px 3px 0;
}
dd {
  margin: 0 0 0 20%;
  padding-top: 3px;
  padding-bottom: 3px;
}

img {
  border: 1px solid #006;
}